﻿@model IEnumerable<Sidi.CircusApp.Data.Entities.Event>

@{
    ViewBag.Title = "Historique";
}

<h2>Ticket de suivi</h2>

<p>
    @Html.ActionLink("Ajouter nouveau Ticket", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom de l'ours
        </th>
        <th>
            Nom du dresseur
        </th>
        <th>
            Commentaires
        </th>
        <th>
            Categories
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            <button>@Html.ActionLink("Details", "Details", new { id = item.EventId })</button> |
            <button>@Html.ActionLink("Modifier", "Update", new { id = item.EventId })</button> |
            <button class="event-delete-btn" data-event-id="@item.EventId">Supprimer</button> 
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        var clickAction = function () {
            var clickedBtn = $(this);
            // confirm
            var choice = confirm("Êtes-vous sur de vouloir supprimer cette entrée ?");


            if (choice === true) {
                // recupération de l'id à supprimer
                var idToDelete = $(this).data('event-id')

                // appel ajax
                $.ajax({
                    url: '/events/delete/' + idToDelete,
                    type: 'post'
                })
                .done(treatServerResponse);
            } else {
                console.log("annulation");
            }
        };
        var treatServerResponse = function (r) {
            // traitement réponse
            if (r.success) {
                alert("L'entité a bien été supprimée");

                window.location.reload();

            } else {
                alert("L'entité n'a pas pu étre supprimée");
            }
        };
        $(".event-delete-btn").click(clickAction);
    </script>
}