﻿@model Sidi.CircusApp.Data.Entities.Trainer

@{
    ViewBag.Title = "Profils";
}

<h2>Informations Utilisateurs</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Noms
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            Mot de Passe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @if (UserRoles.isAdmin())
        {
            <dt>
                Administrateur
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Admin)
            </dd>
        }

        <dt>
            Id du cirque
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CircusId)
        </dd>

    </dl>
</div>
<p>
    @if (UserRoles.isAdmin())
    {
        @Html.ActionLink("Modifier", "Update", new { id = Model.TrainerId }) <text>|</text>
        
        @Html.ActionLink("Retour à la liste", "Index") <text>|</text>
    }
    
    @Html.ActionLink("Retour à l'acceuil","Index","Home")
</p>
