﻿@model IEnumerable<Sidi.CircusApp.Data.Entities.Animal>

@{
    ViewBag.Title = "Desaffecter";
}
@if (UserRoles.isAdmin())
{
    <h2>Liste D'ours</h2>
    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Race
            </th>
            <th>
                Date de naissance
            </th>
            <th>
                Sexe
            </th>
            <th>
                Taille
            </th>
            <th>
                Poids
            </th>
            <th>
                Id du Père
            </th>
            <th>
                Id du Cirque
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimalBreed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatherId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CircusId)
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        <input type="hidden" id="trainerId" name="TrainerId" value="@ViewBag.TrainerId" />
                        <input type="hidden" id="item_BearId" name="BearId" value="@Html.DisplayFor(modelItem => item.AnimalId)">
                        <input type="submit" value="Désafecter" class="btn btn-default" />
                    }
                </td>
            </tr>
        }
    </table>
}
<hr />
<br />

@Html.ActionLink("Retour à l'acceuil","Index", "Home")