﻿@model IEnumerable<Sidi.CircusApp.Data.Entities.Trainer>
@{
    ViewBag.Title = "Pages Dresseurs :";
}

<h2>Listes de Dresseurs</h2>

@if (UserRoles.isAdmin())
{
    <p>
        @Html.ActionLink("Ajouter dresseurs", "Create")
    </p>


    <table class="table">
        <tr>
            <th>
                Nom d'utilisateur
            </th>
            <th>
                Nom
            </th>
            <th>
                Administrateur
            </th>
            <th>
                Id du Cirque
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CircusId)
                </td>
                <td>
                    <button>@Html.ActionLink("Details", "Details", new { id = item.TrainerId })</button> |
                    <button>@Html.ActionLink("Modifier", "Update", new { id = item.TrainerId })</button> |
                    <button>@Html.ActionLink("Affecter", "AffectTrainer", new { id = item.TrainerId })</button>|
                    <button>@Html.ActionLink("Desaffecter", "DisaffectTrainer", new { id = item.TrainerId })</button>|
                    <button class="trainer-delete-btn" data-trainer-id="@item.TrainerId">Supprimer</button>
                </td>
            </tr>
        }
    </table>
}
@Html.ActionLink("Retour à l'Acceuil", "Index", "Home")
@section scripts{
    <script>
        var clickAction = function () {
            var clickedBtn = $(this);
            // confirm
            var choice = confirm("Êtes-vous sur de vouloir supprimer cette entrée ?");


            if (choice === true) {
                // recupération de l'id à supprimer
                var idToDelete = $(this).data('Trainer-id')

                // appel ajax
                $.ajax({
                    url: '/trainers/delete/' + idToDelete,
                    type: 'post'
                })
                .done(treatServerResponse);
            } else {
                console.log("annulation");
            }
        };
        var treatServerResponse = function (r) {
            // traitement réponse
            if (r.success) {
                alert("L'entité a bien été supprimée");

                window.location.reload();

            } else {
                alert("L'entité n'a pas pu étre supprimée");
            }
        };
        $(".trainer-delete-btn").click(clickAction);
    </script>
}