﻿@model IEnumerable<Sidi.CircusApp.Data.Entities.Circus>

@{
    ViewBag.Title = "Vue Cirques";
}

@if (UserRoles.isAdmin())
{
    <h2>Infos Cirques</h2>

    <table class="table">
        <tr>
            <th>
                Nom
            </th>
            <th>
                Addresse
            </th>
            <th>
                Pays
            </th>
            <th>
                Ville
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    <button>@Html.ActionLink("Modifier", "Update", new { id = item.CircusId }) </button>|
                    <button class="circus-delete-btn" data-circus-id="@item.CircusId">Supprimer</button>
                </td>


            </tr>
        }

    </table>
    @Html.ActionLink("Retour à l'Acceuil", "Index", "Home")
}
@section scripts{
    <script>
        var clickAction = function () {
            var clickedBtn = $(this);
            // confirm
            var choice = confirm("Êtes-vous sur de vouloir supprimer cette entrée ?");


            if (choice === true) {
                // recupération de l'id à supprimer
                var idToDelete = $(this).data('Circus-id')

                // appel ajax
                $.ajax({
                    url: '/circuses/delete/' + idToDelete,
                    type: 'post'
                })
                .done(treatServerResponse);
            } else {
                console.log("annulation");
            }
        };
        var treatServerResponse = function (r) {
            // traitement réponse
            if (r.success) {
                alert("L'entité a bien été supprimée");

                window.location.reload();

            } else {
                alert("L'entité n'a pas pu étre supprimée");
            }
        };
        $(".circus-delete-btn").click(clickAction);
    </script>
}