﻿@model Sidi.CircusApp.UI.WebPortal.Models.HomeModel

@{
    ViewBag.Title = "Acceuil";
}
<div class="jumbotron">
    <div class="container body-content" style="text-align:center">
        <h1>CircusAPP Management</h1>
        <h2> Bonjour</h2>
        <p class="lead">L'application de gestion de personnel et d'Animaux de cirques</p>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <span>Liste d'Animaux</span>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Race
                </th>
                <th>
                    Date de naissance
                </th>
                <th>
                    Sexe
                </th>
                <th>
                    Taille
                </th>
                <th>
                    Poids
                </th>
                <th>
                    Id du Père
                </th>
            </tr>
            @foreach (var item in Model.listB)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalBreed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherId)
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Voir liste", "Index", "Animals")
        <hr />
    </div>

    @if (UserRoles.isAdmin())
    {
        <div class="col-md-6">
            <span>Liste de dresseurs</span>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        Noms du Dreseur
                    </th>
                    <th>
                        Admin
                    </th>
                </tr>
                @foreach (var item in Model.listT)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admin)
                        </td>
                    </tr>
                }
            </table>
            @Html.ActionLink("Voir liste", "Index", "Trainers")
            <hr />
        </div>
    }

    <div class="col-md-6">
        <span>Liste d'historique de ticket de suivi</span>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    AnimalId
                </th>
                <th>
                    TrainerId
                </th>
                <th>
                    Commentaires
                </th>
                <th>
                    Categories
                </th>
            </tr>
            @foreach (var item in Model.listE)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrainerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Voir liste", "Index", "Events")
    </div>

</div>
