﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="/Trainers/GetCircusData/"><span class="glyphicon glyphicon-home" title="information Cirques"></span></a>
                    </li>
                    @if (Sidi.CircusApp.UI.WebPortal.Classes.UserRoles.isAdmin())
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-plus" title="Gestion de creation"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Animals/Create/"> Ajouter Animal </a></li>
                                <li><a href="/Trainers/Create/"> Ajouter Dresseur </a></li>
                            </ul>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Events/Index/">
                            <span class="glyphicon glyphicon-book" title="Historique ticket de suivi"></span>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" title="Profils"></span>
                        </a>
                        <ul class="dropdown-menu ">
                            <li class="get-trainerId"></li>
                        </ul>
                    </li>
                    @if (Sidi.CircusApp.UI.WebPortal.Classes.UserRoles.isAdmin())
                    {
                        <li>
                            <a href="Circuses/Index/"><span class="glyphicon glyphicon-wrench" title="Paramètre Cirques"></span></a>
                        </li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Compte Utilisateur
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dev-tool-auth"></ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="jumbotron">
            <p>&copy; @DateTime.Now.Year - My Circuses Management - DevCode Corporation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="~/Scripts/get-trainerId.js"></script>
    <script type="text/javascript" src="~/Scripts/dev-tools.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
