﻿@model Sidi.CircusApp.Data.Entities.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Information @Html.DisplayFor(model => Model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Race
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalBreed)
        </dd>
        <dt>
            Date de naissance       
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            Sexe
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>


        <dt>
            Taille
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            Poids
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            Id du Père
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherId)
        </dd>

        <dt>
            Id du Cirque
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CircusId)
        </dd>

    </dl>
</div>
<p>
        @Html.ActionLink("Retour à la liste", "Index")
</p>
