﻿@model IEnumerable<Sidi.CircusApp.Data.Entities.Animal>
@{
    ViewBag.Title = "Liste d'Animaux";
}
<h2>Liste d'Animaux</h2>
@if (UserRoles.isAdmin())
{
    <p>
        @Html.ActionLink("Ajouter Animal", "Create")
    </p>

}
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Race
        </th>
        <th>
            Date de naissance
        </th>
        <th>
            Sexe
        </th>
        <th>
            Taille
        </th>
        <th>
            Poids
        </th>
        <th>
            Id du Père
        </th>
        <th>
            Id du Cirque
        </th>
        <th>
            Id du dresseur affecté
        </th>
        <th></th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CircusId)
            </td>
            <td>

                @foreach (var trainer in item.Trainers)
                {
                      @trainer.Name <text> | </text>
                }

            </td>
            <td>
                <button>@Html.ActionLink("Details", "Details", new { id = item.AnimalId })</button>
                <button>@Html.ActionLink("Modifier", "Update", new { id = item.AnimalId })</button>
                @if (UserRoles.isAdmin())
                {
                    <button class="animal-delete-btn" data-animal-id="@item.AnimalId">Supprimer</button>
                }
            </td>                    
        </tr>
    }
</table>

@section scripts{
    <script>
        var clickAction = function () {
            var clickedBtn = $(this);
            // confirm
            var choice = confirm("Êtes-vous sur de vouloir supprimer cette entrée ?");


            if (choice === true) {
                // recupération de l'id à supprimer
                var idToDelete = $(this).data('animal-id')

                // appel ajax
                $.ajax({
                    url: '/animals/delete/' + idToDelete,
                    type: 'post'
                })
                .done(treatServerResponse);
            } else {
                console.log("annulation");
            }
        };
        var treatServerResponse = function (r) {
            // traitement réponse
            if (r.success) {
                alert("L'entité a bien été supprimée");

                window.location.reload();

            } else {
                alert("L'entité n'a pas pu étre supprimée");
            }
        };
        $(".animal-delete-btn").click(clickAction);
    </script>
}